<!DOCTYPE html>
<html>
<head>
    <title>Tiresias Client</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sql-formatter@2.3.3/dist/sql-formatter.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
        #app {
            padding: 1em;
        }

        .message-body li {
            margin-bottom: 0.5em;
        }
    </style>
</head>
<body>
    <section class="hero is-info">
        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title">
              Tiresias User Client
            </h1>
            <h2 class="subtitle">
                An Open Source System for Privacy Preserving Machine Learning
            </h2>
          </div>
        </div>
      </section>
    <section id="app">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-two-thirds">
                    <div class="tabs">
                        <ul>
                            <li v-bind:class="{'is-active': (tab=='tasks')}" v-on:click="tab='tasks'"><a>Open Tasks</a></li>
                            <li v-bind:class="{'is-active': (tab=='accepted')}" v-on:click="tab='accepted'"><a>Accepted Tasks</a></li>
                            <li v-bind:class="{'is-active': (tab=='rejected')}" v-on:click="tab='rejected'"><a>Rejected Tasks</a></li>
                            <li v-bind:class="{'is-active': (tab=='data')}" v-on:click="tab='data'"><a>Personal Data Store</a></li>
                        </ul>
                    </div>
                    <div v-if="tab == 'tasks' || tab == 'accepted' || tab == 'rejected'">
                        <article v-for="(task, task_id) in tasks" class="message" v-if="(task.accepted && tab=='accepted') || (task.rejected && tab=='rejected') || (!task.accepted && !task.rejected && tab=='tasks')">
                            <div class="message-header">
                                <span v-if="task.name">{{task.name}}</span>
                                <span v-if="!task.name">{{task.type.capitalize()}} Task</span v-if="task.name">
                                <span style="float:right;font-size:10px;user-select:all;cursor:pointer;">{{task_id}}</span>
                            </div>
                            <div class="message-body">
                                <ul>
                                    <li><b>Type:</b> {{task["type"].capitalize()}} Task</li>
                                    <li>
                                        <span v-if="task['type'] == 'integrated' || task['type'] == 'basic'"><b>Server:</b> Trusted - Your data will be anonymized by the server.</span>
                                        <span v-if="task['type'] == 'bounded' || task['type'] == 'gradient'"><b>Server:</b> Trustless - Your data will be anonymized prior to transmission.</span>
                                    </li>
                                    <li v-if="task['aggregator']"><b>Aggregator:</b> <code>{{task["aggregator"]}}</code></li>
                                    <li v-if="task['model']"><b>Model:</b> <code>{{task["model"]}}</code></li>
                                    <li v-if="task['bounds']"><b>Bounds:</b> Each of your features will be clipped to the following set/range of values
                                        <ul style="margin-left:1em;">
                                            <li v-for="(bounds, var_name) in task['bounds']">
                                                <b>{{var_name}}</b>: 
                                                <span v-if="bounds['type'] == 'set'">{{bounds['values']}}</span>
                                                <span v-if="bounds['type'] == 'range'">({{bounds['low']}}, {{bounds['high']}})</span>
                                            </li>
                                       </ul>
                                    </li>
                                    <li><b>Featurizer:</b> <pre style="margin-top:3px;">{{task["featurizer"]}}</pre></li>
                                    <li><b>Privacy Level:</b> 
                                        This task offers <code>({{task["epsilon"]}}, {{task["delta"]}})</code>-differential privacy. 
                                        If you accept the task, the requestor who receives the output of this task will 
                                        be no more than <code>{{Math.exp(task["epsilon"]).toFixed(2)}}</code> times more likely to be 
                                        able to identify you than if you do not accept the task; this guarantee holds with at 
                                        least <code>{{(100.0-task["delta"]*100.0)}}%</code> probability.
                                    </li>
                                </ul>
                                <div id="explanation">
                                    <b>Description:</b>
                                    <span v-if="task['type'] == 'basic'">
                                        This task would like to access your data by running the above featurizer. Your data will be sent to the 
                                            Tiresias server, where it will be combined with at least <code>{{task["min_count"]}}</code> other users data and 
                                            aggregated into a single <code>{{task["aggregator"]}}</code> value which will have noise added to make it 
                                            (<code>{{task["epsilon"]}}</code>, <code>{{task["delta"]}}</code>) differentially private to reduce the risk that anyone can figure out
                                            your contribution to this task. Only this differentially private value will be released to 
                                            the data requester.
                                    </span>
                                    <span v-if="task['type'] == 'integrated'">
                                        This task would like to access your data by running the above featurizer. Your data will be sent to the 
                                            Tiresias server, where it will be combined with at least <code>{{task["min_count"]}}</code> other users data and 
                                            used to train a <code>{{task["model"]}}</code> model to predict <code>{{task["output"]}}</code>. This model will have noise added to it 
                                            to make it (<code>{{task["epsilon"]}}</code>, <code>{{task["delta"]}}</code>) differentially private to reduce the risk that anyone can 
                                            figure out your contribution to this task. Only this differentially private model will be 
                                            released to the data requester.
                                    </span>
                                    <span v-if="task['type'] == 'bounded'">
                                        This task would like to access your data by running the above featurizer. Before sending your data to 
                                            the server, we will add noise to make it (<code>{{task["epsilon"]}}</code>, <code>{{task["delta"]}}</code>) differentially private to 
                                            reduce the risk that anyone can figure out your contribution to this task.
                                    </span>
                                    <span v-if="task['type'] == 'gradient'">
                                        This task would like to access your data by running the above featurizer and the computing the gradients
                                            for a model. Note that your actual data will not be sent to the server, only the gradients, 
                                            and even then, we add noise to the gradients before sending it to make it (<code>{{task["epsilon"]}}</code>, <code>{{task["delta"]}}</code>) 
                                            differentially private to reduce the risk that anyone can figure out your contribution to 
                                            this task.
                                    </span>
                                </div>
                                <div style="margin-top:1.0em;margin-bottom:1.0em;">
                                    <progress class="progress is-success" v-bind:value="task.count" v-bind:max="task.min_count"></progress>
                                    <p style="text-align:center;font-size:0.7em;margin-top:-3.55em;">STATUS: {{Math.round(100*task.count/task.min_count)}}% COMPLETE</p>
                                </div>
                                <div style="text-align: right;">
                                    <button class="button is-link is-small" v-on:click="showJSON('json', task)">View JSON</button>
                                    <button v-if="task.type != 'gradient'" class="button is-info is-small" v-on:click="showJSON('preview', task['preview'])">Preview Data</button>
                                    <button class="button is-primary is-small" v-if="!task.accepted" v-on:click="accept(task_id)">Accept Task</button>
                                    <button class="button is-danger is-small" v-if="!task.rejected" v-on:click="reject(task_id)">Reject Task</button>
                                    <button disabled class="button is-success is-small" v-if="task.accepted">Accepted</button>
                                </div>
                            </div>
                        </article>
                        <div class="notification">
                            There are no more tasks available at this time! Check back later.
                        </div>
                        <div class="modal" v-bind:class="{'is-active': json}" >
                            <div class="modal-background" v-on:click="closeJSON()"></div>
                            <div class="modal-card">
                                <header class="modal-card-head">
                                  <p v-if="json.mode=='json'" class="modal-card-title">Task JSON</p>
                                  <p v-if="json.mode=='preview'" class="modal-card-title">Data Preview</p>
                                  <button class="delete" aria-label="close" v-on:click="closeJSON()"></button>
                                </header>
                                <section class="modal-card-body">
                                    <div v-if="json.mode=='json'">
                                        <pre>{{json.data}}</pre>
                                    </div>
                                    <div v-if="json.mode=='preview'" style="background-color: white; padding:1em;">
                                        <table class="table is-fullwidth is-striped is-hoverable">
                                            <thead>
                                                <tr>
                                                    <th v-for="(col, _) in json.data[0]">{{col}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(row, _) in json.data.slice(1)">
                                                    <td v-for="(col, _) in row">{{col}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div v-if="tab == 'data'">
                        <table class="table is-fullwidth is-striped is-hoverable">
                            <thead>
                            <tr>
                                <th>App</th>
                                <th>Table</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Description</th>
                            </tr>
                            </thead>
                            <tbody v-for="(app_column, index) in app_columns">
                            <tr>
                                <td>{{app_column.app_name}}</td>
                                <td>{{app_column.table_name}}</td>
                                <td>{{app_column.column_name}}</td>
                                <td>{{app_column.column_type}}</td>
                                <td>{{app_column.column_description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        String.prototype.capitalize = function() {
            return this.charAt(0).toUpperCase() + this.slice(1).toLowerCase()
        }
        var vm = new Vue({
            el: "#app",
            data: {
                tab: "tasks",
                json: false,
                tasks: {},
                app_columns: [],
            },
            created: function() {
                this.refresh()
                setInterval(this.refresh, 1000);
            },
            methods: {
                accept: function (task_id) {
                    if (confirm("Are you sure you want to contribute your data to this task?")) {
                        axios.get('/whitelist/' + task_id).then(function (response) {
                            this.refresh()
                        });
                    }
                },
                reject: function (task_id) {
                    axios.get('/blacklist/' + task_id).then(function (response) {
                        this.refresh()
                    });
                },
                refresh: function () {
                    var self = this;
                    axios.get('/app').then(function (response) {
                        self.app_columns = response.data
                    });
                    axios.get('/tasks').then(function (response) {
                        self.tasks = response.data
                        for (var task_id in self.tasks) {
                            self.tasks[task_id]["featurizer"] = sqlFormatter.format(self.tasks[task_id]["featurizer"])
                        }
                    });
                },
                showJSON: function (mode, json) {
                    if (mode == "preview") {
                        var header = Object.keys(json[0]);
                        var rows = [header]
                        for (var i = 0; i < json.length; i++) {
                            var tmp = []
                            for (var j = 0; j < header.length; j++) {
                                tmp.push(json[i][header[j]])
                            }
                            rows.push(tmp)
                        }
                        this.json = {
                            "mode": mode,
                            "data": rows
                        }
                    } else if (mode == "json") {
                        var obj = {}
                        for (key in json) {
                            if (key == "preview") {
                                continue
                            }
                            obj[key] = json[key]
                        }
                        this.json = {
                            "mode": mode,
                            "data": JSON.stringify(obj, null, 2)
                        }
                    }
                },
                closeJSON: function (json) {
                    this.json = false                    
                }
            }
        })
    </script>
</body>
</html>